<nav>
	<form method='' action=''>
		<input class='navButt' type='submit' value="WELCOME TO MIPI GROW: {{user.username}}"p>
	</form>
	{% if nav_location != 'index' %}
	<form method='get' action='/'>
		<input class='navButt' type='Submit' value='START NEW GROW'>
	</form>
	{% endif %}

	{% if nav_location != 'current_grows' %}
	<form method='get' action='/current_grows'>
		<input class='navButt' type='Submit' value='CURRENT GROWS'>
	</form>
	{% endif %}

	{% if nav_location != 'history_grows' %}
	<form method='get' action='/history_grows'>
		<input class='navButt'type='Submit' value='VIEW HISTORY'>
	</form>
	{% endif %}

	<form action='/logout' method='get'>
		<input class='navButt' type='Submit' value='LOG OUT'>
	</form>


</nav>

