{%  extends 'temp_test/index.html' %}
{% load staticfiles %}

{% block content %}
<div  class='centered'>
	{% if form.errors%}
	<p>There's an error</p>
	{%  endif %}

	<img src=" /static/temp_test/images/mypigrow_logo.png" >

	<form method="post" action="{%  url 'login' %}">
		{%  csrf_token %}

		<p>Username: {{ form.username }}</p>
		<p>Password: {{ form.password }}</p>

		<input type="submit" = value="login">
		<input type="hidden" name="next" value="{{ next }}">

	</form>
	<form  method='get' action='/register'>
		<input type="submit" = value="register">
	</form>
</div>
{% endblock %}