{%  extends 'temp_test/index.html' %}
{% load staticfiles %}

{% block content %}
<div>
	{% include 'temp_test/nav.html' with nav_location=view.location %}
	<h1>{{user.username}}  {{user.id}} </h1>
	{% for grow in grows %}

		<div>
			<p>   {{grow.name}} {{grow.start_date}}
				<!-- <a href="{% url 'current_data' pk=grow.id %}" type='button' >View Data</a> -->
				<form method='get' action="{% url 'current_data' pk=grow.id %}">
					<input type='submit' value='View Data'>
				</form>
			</p>
		<form method='get' action="{% url 'stop_grow' pk=grow.id %}">
			<input type='submit' value='Stop Grow'>
		</form>

		</div>

	{% endfor %}
</div>
{% endblock content %}