{%  extends 'temp_test/index.html' %}
{% load staticfiles %}

{% block content %}
<div>
	{% include 'temp_test/nav.html' with nav_location=view.location %}
	<div class='centered'>
			<img  class='navButt' src="/static/temp_test/images/mypigrow_logo.png" 	 height="200px" >
	</div>


	<div class='info'>
		<div id="avgData">
				<div>
						<h2>{{name}}</h2>
						<p>Start: {{start}}</p>
						<p>End: {{end}}</p>
				</div>
		<div>
		<div>
			<div><h2>Greenhouse Average Data</h2></div>
			<p>Inside Temperature: {{avg_in_temp.inside_temperature__avg}}</p>
			<p>Inside Humdity: {{avg_in_humidity.inside_humidity__avg}}</p>
			<p>Water Temperature: {{avg_water_temp.water_temperature__avg}}</p>
			<p>Water pH: {{avg_water_pH.water_pH__avg}}</p>
		</div>
		<div>
			<div><h2>Outside Average Weather</h2></div>
			<p>Outside Temperature: {{avg_out_temp.outside_temperature__avg}}</p>
			<p>Outside Humdity: {{avg_out_humidity.outside_humidity__avg}}</p>
		</div>
		</div>
		</div>
		<div>
				<canvas id="chartAvgHistory"></canvas>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

		<div>
			<canvas id='chartAllData'></canvas>
		</div>

		<script>
			// REMOVE QUOTES FROM PYTHON ARRAY TO USE IN JAVASCRIPT
			function removeQutoes(arr) {
				let array = arr
				array = arr.substring(1, arr.length -1)
				let tempArray =  arr.split(', ')
				return tempArray
			}


			let inAllT = removeQutoes("{{in_temp_data}}")
			let inAllH = removeQutoes("{{in_hum_data}}")
			let outAllT = removeQutoes("{{out_temp_data}}")
			let outAllH = removeQutoes("{{out_hum_data}}")
			let waterAllT = removeQutoes("{{water_temp_data}}")
			let waterAllPh = removeQutoes("{{water_ph_data}}")
			let dateAll = removeQutoes("{{img_date_data}}")
			let count = removeQutoes("{{count}}")
			let countAll = []



			let canvasTotal = document.getElementById('chartAllData')
			canvasTotal.getContext('2d')
			canvasTotal.width = 470;
			canvasTotal.height = 470;
			// CHART FOR ALL DATASET POINTS
			let chartTotal = new Chart(canvasTotal,{
				type: 'line',

				data: {
					labels:	count,
					datasets:[
					{label: 'Inside Temperature',data:inAllT,borderWidth: 3,borderColor: "green",hoverBorderWidth: 10},
					{label: 'Outdoor Temperature', data:outAllT,borderColor:'red', borderWidth: 3, hoverBorderWidth: 10},
					{label: 'Indoor Humidity', data:inAllH,borderColor:'yellow', borderWidth: 3, hoverBorderWidth: 10},
					{label: 'Outdoor Humidity', data:outAllH,borderColor:'orange', borderWidth: 3, hoverBorderWidth: 10},
					{label: 'Water Temperature', data:waterAllT,borderColor:'blue', borderWidth: 3, hoverBorderWidth: 10},
					{label: 'Water pH', data:waterAllPh,borderColor:'purple', borderWidth: 3, hoverBorderWidth: 10}



					]},


				options: {
					title: {
						display: true,
						text: 'MIPI Grow',
						fontSize: 30
					},
				legend: {
						// display: false,
						position: 'top',
					labels: {
						fontColor: "Blue"
					}
				},
				layout: {
					padding: {
					left: 50,
					right: 0,
					bottom: 0,
					top: 0
					}
				},
				tooltips: {
					enabled: true
				},
				responsive: false,
				scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
			}]
		}
	}
})
		</script>









		 <script type="text/javascript">
			// CHART FOR ALL AVERAGE DATASET POINTS
			let canvasAvg = document.getElementById('chartAvgHistory')
			canvasAvg.getContext('2d')
			canvasAvg.width = 470;
			canvasAvg.height = 470;


			Chart.defaults.global.defaultFontFamily = 'Lato';
			Chart.defaults.global.defaultFontSize = 13;
			Chart.defaults.global.defaultFontColor = 'Green';


let chartAvg = new Chart(canvasAvg,{
	type: 'bar',
	// height: 200,
	// width: 200,
	data: {
		labels:	["Inside Temperature", "Outside Temperature", "Inside Humidity", "Outside Humidity", "Water PH", "Water Temperature"],
		datasets:[{
			label: 'Average Stats',
			 data:[
				 "{{avg_in_temp.inside_temperature__avg}}",
				 "{{avg_out_temp.outside_temperature__avg}}",
				 "{{avg_in_humidity.inside_humidity__avg}}",
				 "{{avg_out_humidity.outside_humidity__avg}}",
				 "{{avg_water_pH.water_pH__avg}}",
				 "{{avg_water_temp.water_temperature__avg}}"
			 ],
			backgroundColor: ['pink','blue', 'yellow', 'orange','purple','blue'],
			borderWidth: 5,
			borderColor: "yellow",
			hoverBorderWidth: 10,
			hoverBorderColor: 'black',
		}
		],
	},
	options: {
		title: {
			display: true,
			text: 'MIPI Grow',
			fontSize: 30
		},
		legend: {
			// display: false,
			position: 'top',
			labels: {
				fontColor: "Blue"
			}
		},
		layout: {
			padding: {
				left: 50,
				right: 0,
				bottom: 0,
				top: 0
			}
		},
		tooltips: {
			enabled: true
		},
		responsive: false,
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
		}
	}
})






			// let img = document.createElement('img')
			// let text = "{{dataset.image}}"
			// img.src = `/static/temp_test/images/${text}.jpeg`
			// img.width = 300;
			// img.height = 300;
			// document.getElementById('imgDiv').appendChild(img)
			// imageDiv.appendChild("TEST")
		</script>

</div>
{% endblock content %}


