{%  extends 'temp_test/index.html' %}
{% load staticfiles %}

{% block content %}
<div>
	{% include 'temp_test/nav.html' with nav_location=view.location %}
	<h1>{{user.username}} </h1>
	{% for dataset in data %}

		<div>
			<h1>Grow: {{dataset.grow}}</h1>
			<h2>Date: {{dataset.date}}</h2>
			<h2>Inside Temperature: {{dataset.inside_temperature}}</h2>
			<h2>Inside Humidity: {{dataset.inside_humidity}} </h2>
			<h2>Outside Temperature: {{dataset.outside_temperature}}</h2>
			<h2>Outside Temperature: {{dataset.outside_humidity}} </h2>
			<h2>Water pH: {{dataset.water_pH}}</h2>
			<h2>Water Temperature: {{dataset.water_temperature}}</h2>
			<h2>Image: {{dataset.image}}</h2>
		</div>

	{% endfor %}
</div>
{% endblock content %}