<nav>
	{% if nav_location != 'index' %}
	<form method='get' action='/'>
		<input type='Submit' value='HOME'>
	</form>
	{% endif %}

	{% if nav_location != 'current_grows' %}
	<form method='get' action='/current_grows'>
		<input type='Submit' value='CURRENT GROWS'>
	</form>
	{% endif %}

	{% if nav_location != 'current_grows' %}
	<form method='get' action='/current_grows'>
		<input type='Submit' value='VIEW HISTORY'>
	</form>
	{% endif %}

	<form action='/logout' method='get'>
		<input type='Submit' value='LOG OUT'>
	</form>

</nav>

