<nav>
	{% if nav_location != 'index' %}
	<form action=''>
		<input type='Submit' value='HOME'>
	</form>
	{% endif %}

	{% if nav_location != 'index' %}
	<form action=''>
		<input type='Submit' value='CURRENT GROWS'>
	</form>
	{% endif %}

	{% if nav_location != 'index' %}
	<form action=''>
		<input type='Submit' value='VIEW HISTORY'>
	</form>
	{% endif %}

	{% if nav_location != 'index' %}
	<form action='/logout' method='get'>
		<input type='Submit' value='LOG OUT'>
	</form>
	{% endif %}
</nav>

